h3
{
   font-size: 25px !important;
}
.btn-success:hover
{
    background-color: red;
}
canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 15px;
    border-width: 2px;
    border-color: blue;
}
@keyframes example
{
    from {bow-shodow: 1px 1px 38px blue;}
    to {box-shadow: 1px 1px 38px purple;}

}